<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ item.name }} info page</title>
</head>

<body>
  <script src="https://js.stripe.com/v3/"></script>
  <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
  <h1>Item name</h1>
  <p>{{ item.name }}</p>
  <br>
  <h1>Item description</h1>
  <p>{{ item.description }}</p>
  <br>
  <h1>Item prices</h1>
  {% for item_price in item_prices %}
  <p>{{ item_price.price }} {{ item_price.currency }}</p>
  {% endfor %}
  <select id="SelectCurrency">
    {% for item_price in item_prices %}
    <option value={{ item_price.currency }}>{{ item_price.currency }}</option>
    {% endfor %}
  </select>
  <button id="clickMe">Buy</button>
  <input type="hidden" id="url" data-url="{% url 'buy' item.id %}">
  <script defer src="{% static 'buy.js' %}"></script>
  <form action="{%url 'add' item.id %}" method="POST">
    {% csrf_token %}
    <button type='submit' id="order"> <span class="text">Add to
        cart</span></button>
</body>

</html>